.repo-card{
    min-height: 30%;
    max-height: 140px;
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-flow: row;
}

.cards-container:last-child{
    margin-bottom: 2em;
}

.paginator{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}