<p>
    <mat-toolbar class="toolBar">
        <div class="app-name">Repo Diva</div>
        <div class="app-func">Showing the most starred Github repos created in the last 30 days</div>
    </mat-toolbar>
  </p>
<mat-card class="cards-container">
    <app-repo-details *ngFor="let repo of lstRepos" class="repo-card" [curRepo]="repo"></app-repo-details>
</mat-card>
<mat-paginator [length]="100"
              [pageSize]="10"
              (page)="getPaginatorData($event)" 
              class="paginator"
              >
</mat-paginator>
